img {
    border-radius: 10rem;
}

.react-confirm-alert-body {
    color: #4d8fd7;
}

.react-confirm-alert-button-group > button {
    background-color: white;
    border: 1px solid #4d8fd7;
    color: #4d8fd7;
}

.offset-1 {
    width: 100%;
}

.message-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}

.delete-msg-btn {
    height: 2em;
    width: 4em;
    padding: 0;
}

#messages li.list-group-item {
    padding-top: 12px;
    margin-bottom: 8px;
}
